<!-- Pokemon Game Strip-->
<ng-container
  *ngIf="{
    allGames: allPokemonGames$ | async,
    currentGame: currentGame$ | async
  } as baseObservables"
>
  <!-- Pokemon Index Numbers-->
  <ng-container *ngIf="baseObservables.currentGame; else selectAGame">
    <app-pokemon-game-select
      *ngIf="!!baseObservables.allGames"
      [value]="baseObservables.currentGame.name"
      [games]="baseObservables.allGames"
    ></app-pokemon-game-select>
    <!-- Pokemon Info -->
    <router-outlet></router-outlet>
  </ng-container>

  <ng-template #loading>loading animation...</ng-template>
  <ng-template #selectAGame
    >Select a game
    <app-pokemon-game-list
      *ngIf="!!baseObservables.allGames"
      [games]="baseObservables.allGames"
    ></app-pokemon-game-list
  ></ng-template>

  <ng-template #noItems>No Pokemon!</ng-template>
</ng-container>
