<ng-container
  *ngIf="
    { species: pokemonSpecies$ | async, pokemon: pokemon$ | async } as data;
    else loading
  "
>
  <header *ngIf="!!data.pokemon">
    <h1>
      <small>#{{ data.pokemon.id }}</small
      >&nbsp;{{ data.pokemon.name }}
    </h1>
  </header>
  <section class="row">
    <article>
      <img src="https://via.placeholder.com/300" />
    </article>
    <article>
      <dl *ngIf="!!data.species && !!data.pokemon">
        <dt>Base Happiness</dt>
        <dd>{{ data.species.base_happiness }}</dd>

        <dt>Capture Rate</dt>
        <dd>{{ data.species.capture_rate }}</dd>
      </dl>

      <ul *ngIf="!!data.species">
        <li>
          <app-checkmark-item [checked]="data.species.is_baby"
            >Baby</app-checkmark-item
          >
        </li>
        <li>
          <app-checkmark-item [checked]="data.species.is_legendary"
            >Legendary</app-checkmark-item
          >
        </li>
        <li>
          <app-checkmark-item [checked]="data.species.is_mythical"
            >Mythical</app-checkmark-item
          >
        </li>
      </ul>

      <app-pokemon-seen-in-games
        *ngIf="!!data.pokemon"
        [games]="data.pokemon.game_indices"
      ></app-pokemon-seen-in-games>

      <app-pokemon-abilities
        *ngIf="!!data.pokemon"
        title="Abilities"
        [abilities]="data.pokemon.abilities"
      ></app-pokemon-abilities>
    </article>
  </section>
</ng-container>
<ng-template #loading> Loading... </ng-template>
